[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
gspread = "*"
oauth2client = "*"
bs4 = "*"
pandas = "*"
lxml = "*"

[requires]
python_version = "3.8"
